<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>




<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" method="POST" style="max-width:500px;margin:auto">
  <div class="input-container">
    <i class="fa fa-user icon">your age</i>
    <input class="input-field" type="text" placeholder="authors age" name="authors age">
  </div>

  
  <div class="input-container">
    <i class="fa fa-key icon">your message</i>
    <input class="input-field" type="password" placeholder="quotes author" name="quotes author">
  </div>

    <div class="input-container">
    <i class="fa fa-key icon">your name</i>
    <input class="input-field" type="password" placeholder="authors name" name="authors name">
  </div>

  <button type="submit" class="btn">submit</button>
</form>
 
</body>
</html>